{% extends 'baseAdmin.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
    <main class="main-content position-relative border-radius-lg ps">
        <!-- Navbar -->
        {% include 'shared/navAdmin.html.twig' %}
        <div class="card shadow-lg mx-4 card-profile-bottom">
            <div class="card-body p-3">
                <div class="row gx-4">
                    <div class="col-auto">
                        <div class="avatar avatar-xl position-relative">
                        </div>
                    </div>
                    <div class="col-auto my-auto">
                        <div class="h-100">
                            <h5 class="mb-1">
                                {{ app.user.email }}
                            </h5>
                            <p class="mb-0 font-weight-bold text-sm">

                                {% set role = app.user.roles[0] %}
                                {% if role == "ROLE_USER" %}
                                    Role User
                                {% else %}
                                    Role Admin
                                {% endif %}
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 my-sm-auto ms-sm-auto me-sm-0 mx-auto mt-3">
                        <div class="nav-wrapper position-relative end-0">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid py-4">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header pb-0">
                            <div class="d-flex align-items-center">

                            </div>
                        </div>
                        <div class="card-body">
                                <p class="text-uppercase text-sm">Prediction of the impact of the COVID-19 pandemic on <strong>Environment</strong></p>
                            <div class="row">
                                <form action="{{ path('predictEnvironement') }}" method="POST">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="form-control-label"
                                                       for="Renewableenergyconsumptionoftotalfinalenergyconsumption2018">Renewable energy consumption  % of total final energy consumption 2018 :</label>
                                                <input type="text" class="form-control" name="Renewableenergyconsumptionoftotalfinalenergyconsumption2018"
                                                       id="Renewableenergyconsumptionoftotalfinalenergyconsumption2018" required><br>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="form-control-label" for="Renewableenergyconsumption2019">Renewable energy consumption  2019:</label>
                                                <input type="text" class="form-control" name="Renewableenergyconsumption2019"
                                                       id="Renewableenergyconsumption2019" required><br>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="form-control-label"
                                                       for="Renewableelectricityoutput2020">Renewable electricity output 2020 :</label>
                                                <input class="form-control" type="text"
                                                       name="Renewableelectricityoutput2020"
                                                       id="Renewableelectricityoutput2020" required><br>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="form-control-label"
                                                       for="CO2Emissions(Thousandmetrictons)2019">CO2 Emissions (Thousand metric tons) 2019 :</label>
                                                <input class="form-control" type="text"
                                                       name="CO2Emissions(Thousandmetrictons)2019"
                                                       id="CO2Emissions(Thousandmetrictons)2019" required><br>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-control-label"
                                                   for="CO2Emissions(Thousandmetrictons)2020">CO2 Emissions (Thousand metric tons) 2020 :</label>
                                            <input class="form-control" type="text"
                                                   name="CO2Emissions(Thousandmetrictons)2020"
                                                   id="CO2Emissions(Thousandmetrictons)2020" required><br>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <button class="btn btn-primary btn-sm ms-auto" type="submit">Submit</button>
                                        </div>
                                    </div>
                                </form>
{#                                <ul>#}
{#                                    {% for prediction in predictions %}#}
{#                                        {% set p=prediction %}#}
{#                                        {% if p==0 %}#}
{#                                            <li>low</li>#}
{#                                        {% elseif p==1 %}#}
{#                                            <li>mean</li>#}
{#                                        {% else %}#}
{#                                            <li>High</li>#}
{#                                        {% endif %}#}
{#                                    {% endfor %}#}
{#                                </ul>#}
                            </div>
                        </div>

                    </div>

                    <hr class="horizontal dark">


                </div>

                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header pb-0">
                            <div class="d-flex align-items-center">

                            </div>
                        </div>
                        <div class="card-body">
                            <p class="text-uppercase text-sm">PREDICTION OF THE IMPACT OF THE COVID-19 PANDEMIC ON <strong>Health</strong></p>
                            <div class="row">
                                <form action="{{ path('prediction') }}" method="POST">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="form-control-label"
                                                       for="Physicians2018">Number of Physicians :</label>
                                                <input type="text" class="form-control" name="Physicians2018"
                                                       id="Physicians2018" required><br>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="form-control-label" for="Numberofdeaths">Number of
                                                    deaths:</label>
                                                <input type="text" class="form-control" name="Numberofdeaths"
                                                       id="Numberofdeaths" required><br>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="form-control-label"
                                                       for="PrevalenceofHIVmale(ages15-24)2019">Number of  HIV
                                                    male : </label>
                                                <input class="form-control" type="text"
                                                       name="PrevalenceofHIVmale(ages15-24)2019"
                                                       id="PrevalenceofHIVmale(ages15-24)2019" required><br>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="form-control-label"
                                                       for="CausedeathbyCommunicablediseases2019">Number of deaths by
                                                    Communicable diseases</label>
                                                <input class="form-control" type="text"
                                                       name="CausedeathbyCommunicablediseases2019"
                                                       id="CausedeathbyCommunicablediseases2019" required><br>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-control-label"
                                                   for="CausedeathbynonCommunicablediseases2019">Number of deaths by no
                                                Communicable diseases :</label>
                                            <input class="form-control" type="text"
                                                   name="CausedeathbynonCommunicablediseases2019"
                                                   id="CausedeathbynonCommunicablediseases2019" required><br>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <button class="btn btn-primary btn-sm ms-auto" type="submit">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>

                    <hr class="horizontal dark">


                </div>
            </div>
        </div>

        </div>
        {% include 'shared/_footerAdmin.html.twig' %}
    </main>

{% endblock %}
